.buy{
    padding-left: 210px;
}
.top{
    display: flex;
    align-items: center;
    padding-right: 3rem;
    overflow-x:visible;
    table-layout: auto;
    justify-content: space-between;
}
.ipt{
    display: flex;
    align-items: center;
    padding-right: 3rem;
    overflow-x:visible;
    table-layout: auto;
    justify-content: space-between;
}

.cash{
    padding-top:1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.tool{
    position: relative;
    display: flex;
    padding-top: 50px;
    justify-content:left;
    align-items: center;
    gap:7px;
    
}


.form-pop{
    display: flex;
    gap:3.7rem;
}
