
 .top{
    position: relative;
    display: flex;
    padding-top: 12px;
    gap:60rem;
    
}
.tool{
    position: relative;
    display: flex;
    padding-top: 50px;
    justify-content:left;
    align-items: center;
    gap:7px;
    
}
#plus{
    position: relative;
    display: flex;
    margin-left: 50rem;
    gap:0.3rem;
}

.form-pop{
    display: flex;
    gap:3.7rem;
}

