.tool{
    display: flex;
    padding-top: 6.94vh;
    align-items: center;

}

.top{
    display: flex;
    align-items: center;
    padding-right: 3rem;
    overflow-x:visible;
    table-layout: auto;
    justify-content: space-between;
}

.top-2{
    flex-shrink: 1;
    
}

.ipt{
    display: flex;
    align-items: center;
    padding-right: 3rem;
    overflow-x:visible;
    table-layout: auto;
    justify-content: space-between;
}
.input-2{
    flex-shrink: 1;
}

.form-pop{
    display: flex;
    gap:3.7rem;
}
